body{
	background:black;
}

#intro{	
	width:65%;
	height:auto;
	margin: 0 auto;
	margin-top:8%;
	margin-bottom:5%;
	
	
}

img{
	max-width:100%;
	height:auto;
	margin-top:6%;
}
#write{
	padding: 5%;
	margin: 0 auto;
	width:70%;
	height:auto;
	font-size:10px;
	font-family: ‘Courier New’, Courier, monospace;
	color:white;
	text-align:center;
	font-size:100%;
	font-size:1.1em;font-weight:200;
	 
	 
}

#vid1{
	width:85%;
	height:auto;
	margin:0 auto;	
	position:relative;
	top:30%;
}

object{
	width:100%;
	height:240px;
}
#ghouls{
	margin-top:10%;
	width:100%;
	height:auto;
	float:left;
}
#ghoul{
	width:35%;
	height:auto;
	margin: 0 auto;
	
	
}	

#pv1{
	width:300px;
	height:240px;
	border:solid white;
	border-width:10px;
	float:left;
	margin: 5px;
	
	
}
#pv2{
	width:300px;
	height:240px;
	border:solid white;
	border-width:10px;
	float:left;
	margin: 5px;
	
	
}
#pv3{
	width:300px;
	height:240px;
	border:solid white;
	border-width:10px;
	float:left;
	margin: 5px;
	
}

.one{
	width:100%;
	height:0px;
	border: solid white;
	border-width:2px;
	margin-bottom:10%;
	float:left;
}.

#four{
	width:100%;
	height:0px;
	border: solid white;
	border-width:2px;
	margin-top:10%;
	margin-bottom:5%;
	float:left;
}

.three{
	width:100%;
	height:0px;
	border: solid white;
	border-width:2px;
	margin-top:10%;
	float:left;
}


#cha{
	width:50%;
	height:auto;
	margin-left:25%;
	float:left;
	margin-top:20%;
}

img{
	margin-top:-5%;
}
.bio{
	width:300px;
	height:300px;
	position:relative;
	left:22%;
	top:100px;
}
#p1{
	max-width:100%;
	height:300px;
	font-family: ‘Courier New’, Courier, monospace;
	color:white;
	text-align:justify;
	font-size:100%;
	font-size:13px;font-weight:200;
	position:relative;
	float:left;
	top:87%;
	
	
	
}

#p2{
	max-width:100%;
	height:300px;
	font-family: ‘Courier New’, Courier, monospace;
	color:white;
	text-align:justify;
	font-size:100%;
	font-size:13px;font-weight:200;
	position:relative;
	float:left;
	top:87%;	

}

#p3{
	max-width:100%;
	height:300px;
	font-family: ‘Courier New’, Courier, monospace;
	color:white;
	text-align:justify;
	font-size:100%;
	font-size:13px;font-weight:200;
	position:relative;
	float:left;
	top:87%;	
	left:10%;
}

.links{ 
	max-width:60%;
	height:auto;
	margin:0 auto;
	left:30%;
	top:5%;
}


#kaneki{
	padding:10%;
    width: 100%;
    height: 1360px;
    background-image: url('kaneki.jpg');
    background-repeat: no-repeat;
    background-size: contain;
	float:left;
	position:relative;
	top:100px;
	
}