body{
	background:black;
	}

#intro{
	width:400px;
	height:70px;
	margin:0 auto;
}
img{
	max-width:100%;
	height:auto;
}
#sync1 .item{
		max-width:99%;
		height:auto;
        color: #FFF;
        text-align: center;
}
#sync2 .item{
        background:#580000;
        padding: 10px 0px;
        margin: 5px;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
		border:solid grey;
}
#sync2 .item h1{
      font-size: 18px;
}
#sync2 .synced .item{
      background: black;
}